.task-del {
    background-color: lightcoral !important;
}

.task-del > div > ons-icon, .task-del {
    color: white !important;
}

.task-prio::before {
    font-weight: normal;
    content: "❗";
    padding-right: 0.5em;
}

.edit-task-field {
    display: none;
}

#button-new-categ {
    margin-right: auto;
    margin-left: auto;
}