.task-del {
    background-color: lightcoral !important;
}

.task-del > div > ons-icon, .task-del {
    color: white !important;
}

.task-prio::before {
    content: "â—";
    padding-right: 0.5em;
}

.edit-task-field {
    display: none;
}