.task-del {
    background-color: lightcoral !important;
}

.task-del .task-title {
    color: white !important;
}

.task-del > div > ons-icon, .task-del {
    color: white !important;
}

.task-prio::before {
    font-weight: normal;
    content: "â—";
    padding-right: 0.5em;
}

.edit-task-field {
    display: none;
}

#button-new-categ, #sub-tasks, #order {
    margin-right: auto;
    margin-left: auto;
}

#button-settings {
    margin-top: 30px;
}

#author {
    margin-top: 0;
}

.task-created {
    margin-top: 50px;
    color: #6d6d72;
    font-size: smaller;
}

label {
    vertical-align: middle;
}

#settings-content > div {
    margin-bottom: 50px;
}

#settings-delete ons-button {
    background-color: red;
    margin-bottom: 10px;
}

.stats-item {
    margin: 10px 15px 0;
    display: inline-block;
    vertical-align: bottom;
}

.stats-number {
    margin: 0;
    font-size: 2em;
}

.stats-title {
    margin: 0 auto;
    width: 6em;
    height: 3em;
}

#search > .center {
    background: none;
}

#search-input {
    display: block;
    margin: 25px 15px 0;
}

.task-subtasks {
    margin-left: 12px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: small;
    font-weight: normal;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
}

#sub-tasks {
    margin-top: 40px;
    max-width: 500px;
}

.subtasks-completed {
    color: white;
}

.sub-task-item-label {
    margin-left: 10px;
}

ons-list-item + #button-new-categ {
    margin: 20px auto;
}

#order {
    width: max-content;
}

.order_sens_unselected {
    opacity: 0.3;
}

#order-title {
    padding-bottom: 0;
}