.task-del {
    background-color: lightcoral !important;
}

.task-del > div > ons-icon, .task-del {
    color: white !important;
}

.task-prio::before {
    font-weight: normal;
    content: "â—";
    padding-right: 0.5em;
}

.edit-task-field {
    display: none;
}

#button-new-categ {
    margin-right: auto;
    margin-left: auto;
}

#button-settings {
    margin-top: 30px;
}

#author {
    margin-top: 0;
}

.task-created {
    margin-top: 50px;
    color: #6d6d72;
    font-size: smaller;
}

label {
    vertical-align: middle;
}

#settings-content > div {
    margin-bottom: 50px;
}

#settings-delete ons-button {
    background-color: red;
    margin-bottom: 10px;
}

.stats-item {
    margin: 10px 15px 0;
    display: inline-block;
    vertical-align: bottom;
}

.stats-number {
    margin: 0;
    font-size: 2em;
}

.stats-title {
    margin: 0 auto;
    width: 6em;
    height: 3em;
}

#search > .center {
    background: none;
}

#search-input {
    display: block;
    margin: 25px 15px 0;
}